:global .container {
  height: calc(100% - 64px);
  /* position: fixed; */
  /* height: calc(100% - 64px); */
}

html,
body {
  background: rgba(0, 0, 0, 0);
}

:global #root {
  width: 100%;
  height: 100%;
}

:global .ant-layout {
  background: rgba(0, 0, 0, 0);
}

:global .bodyContainer {
  position: absolute;
  left: 160px;
  zindex: 999;
  right: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
}

:global .bodyContainer2 {
  /* background: #363d45; */
  background: #787b7e;
  /* background: #0668c9; */
  padding: 20px;
  padding-top: 86px;
}
/* style={{ background: '#363d45', padding: '30px' } */
